<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

  <head>
    <title>Forgot password email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  <table cellpadding="0" cellspacing="0" border="0" style="background-color: #f2f2f5; line-height: 100% !important; width: 100% !important;">
      <tbody>
          <tr>
              <td align="center" width="600">

                  <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
  							<td height="54" width="154" bgcolor="#ffffff">
  								<a href="https://www.gymondo.de/" target="_blank"><img src="http://d35vekvd24jt13.cloudfront.net/gymondo-logo.png" width="132" height="38" alt="Gymondo" style="margin-left: 13px;" border="0" /></a>
  							</td>
  							<td height="54" width="217" bgcolor="#ffffff" align="right">
  								<p style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 54px; margin-top: 0; margin-right: 20px; margin-bottom: 0;">Bekannt aus</p>
  							</td>
  							<td height="54" width="229" bgcolor="#ffffff">
  								<img src="http://d35vekvd24jt13.cloudfront.net/bekannt-aus.png" width="216" height="36" alt="Bekannt aus" />
  							</td>
                          </tr>
                      </tbody>
                  </table>

                  <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td height="160" width="600">
  								<img src="http://d35vekvd24jt13.cloudfront.net/header.jpg" width="600" height="160" alt="" />
                              </td>
                          </tr>
                      </tbody>
                  </table>

                  <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td bgcolor="#ffffff" width="600">
                                  <p style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 24px; margin-top: 27px; margin-right: 70px; margin-bottom: 27px; margin-left: 50px;">Hallo<span th:text="${recipientFullName}">%firstname%</span>,</p>
  								<p style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin-bottom: 27px; margin-top: 0; margin-right: 70px; margin-left: 50px;">Du hast Dein Passwort vergessen?<br /><br /><br /> Kein Problem! Dein neues Passwort lautet: <b><span th:text="${newPassword}">new_password</span></b></p>

      <p style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin-bottom: 27px; margin-top: 0; margin-right: 70px; margin-left: 50px;">Wir empfehlen Dir, Dein Passwort beim nächsten Login auf www.gymondo.de unter "Mein Konto" zu ändern.</p>


  								<p style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin-bottom: 27px; margin-top: 0; margin-right: 70px; margin-left: 50px;"><strong>Viele Grüße<br /><br/>
  								Dein Gymondo Team</strong></p><br /><br />
                              </td>
                          </tr>
                      </tbody>
                  </table>

                  <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td bgcolor="#f5f5f5" style="padding-top: 18px; padding-bottom: 18px;" width="180">
  								<a href="https://www.facebook.com/gymondo" target="_blank" style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin-left: 50px; text-decoration: none;"><img src="http://d35vekvd24jt13.cloudfront.net/facebook.png" width="32" height="32" alt="Facebook" border="0" style="margin-right: 10px; vertical-align: -10px;" /> <strong>Facebook</strong></a>
  							</td>
  							<td bgcolor="#f5f5f5" style="padding-top: 18px; padding-bottom: 18px;" width="125">
  								<a href="http://www.youtube.com/gymondo" target="_blank" style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 15px; text-decoration: none;"><img src="http://d35vekvd24jt13.cloudfront.net/youtube.png" width="32" height="32" alt="YouTube" border="0" style="margin-right: 10px; vertical-align: -10px;" /> <strong>YouTube</strong></a>
  							</td>
  							<td bgcolor="#f5f5f5" style="padding-top: 18px; padding-bottom: 18px;" width="150">
  								<a href="https://plus.google.com/110210506383481262591" target="_blank" style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 15px; text-decoration: none;"><img src="http://d35vekvd24jt13.cloudfront.net/google.png" width="32" height="32" alt="Google Plus" border="0" style="margin-right: 10px; vertical-align: -10px;" /> <strong>Google Plus</strong></a>
  							</td>
  							<td bgcolor="#f5f5f5" style="padding-top: 18px; padding-bottom: 18px;" width="145">
  								<a href="https://twitter.com/Gymondo" target="_blank" style="color: #3e4a52; font-family: Helvetica, Arial, sans-serif; font-size: 15px; text-decoration: none;"><img src="http://d35vekvd24jt13.cloudfront.net/twitter.png" width="32" height="32" alt="Twitter" border="0" style="margin-right: 10px; vertical-align: -10px;" /> <strong>Twitter</strong></a>
  							</td>
                          </tr>
                      </tbody>
                  </table>

                  <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td height="56" width="600">
  								<img src="http://d35vekvd24jt13.cloudfront.net/footer.png" width="600" height="56" alt="" />
                              </td>
                          </tr>
                      </tbody>
                  </table>

                  <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td valign="top" height="100" bgcolor="#434343" width="345">
  								<p style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 12px; margin-top: 24px; margin-left: 50px; margin-bottom: 0;">Kundenservice:<br />
  								Phone: +49 30 3642 800 40<br />
  								Mo-Fr 9-20 Uhr<br />
  								E-Mail: <a href="mailto:service@gymondo.de" target="_blank" style="color: #ffffff;">service@gymondo.de</a></p>
                              </td>
  							<td valign="top" height="100" bgcolor="#434343" width="255">
  								<p style="color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 12px; margin-top: 24px; margin-bottom: 0;"><a href="https://www.gymondo.de/" target="_blank" style="color: #ffffff;">www.gymondo.de</a> - Gymondo ist ein<br />
  								Dienst der Gymondo GmbH<br />
  								Medienallee 4 | 85774 Unterföhring</p>
  							</td>
                          </tr>
                      </tbody>
                  </table>

                  <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                          <tr>
                              <td align="center" width="600">
  								<p style="color: #7d7d7d; font-family: Helvetica, Arial, sans-serif; font-size: 11px; margin-top: 20px; margin-bottom: 50px; width: 478px;">Geschäftsführer: Mato Peric, Charlotte Andreae | Registergericht: München, HRB 204422<br />
  								Umsatzsteuer-Identifikationsnummer gemäß &sect;27 a Umsatzsteuergesetz:USt-ID Nr. DE288729497<br />
  								Verantwortlich für den Inhalt nach &sect; 55 Abs. 2 RStV: Mato Peric, Charlotte Andreae</p>
                              </td>
                          </tr>
                      </tbody>
                  </table>

              </td>
          </tr>
      </tbody>
  </table>
  </body>

</html>